[submodule "book/data-collection-protocols"]
	path = book/data-collection-protocols
	url = https://github.com/CUAHSI/data-collection-protocols
	branch = main
[submodule "book/hydroinformatics/1-Intro-plotting-R"]
	path = book/hydroinformatics/1-Intro-plotting-R
	url = https://github.com/VT-Hydroinformatics/1-Intro-plotting-R.git
[submodule "book/hydroinformatics/2-Programming-Basics"]
	path = book/hydroinformatics/2-Programming-Basics
	url = https://github.com/VT-Hydroinformatics/2-Programming-Basics.git
[submodule "book/hydroinformatics/3-Activity-Intro-Skills"]
	path = book/hydroinformatics/3-Activity-Intro-Skills
	url = https://github.com/VT-Hydroinformatics/3-Activity-Intro-Skills.git
[submodule "book/hydroinformatics/4-Intro-Stats"]
	path = book/hydroinformatics/4-Intro-Stats
	url = https://github.com/VT-Hydroinformatics/4-Intro-Stats.git
[submodule "book/hydroinformatics/5-Intro-Stats-Activity"]
	path = book/hydroinformatics/5-Intro-Stats-Activity
	url = https://github.com/VT-Hydroinformatics/5-Intro-Stats-Activity.git
[submodule "book/hydroinformatics/6-Get-Format-Plot-HydroData"]
	path = book/hydroinformatics/6-Get-Format-Plot-HydroData
	url = https://github.com/VT-Hydroinformatics/6-Get-Format-Plot-HydroData.git
