[submodule "book/standards-and-protocols/data-collection-protocols"]
	path = book/standards-and-protocols/data-collection-protocols
	url = https://github.com/abnerbog/data-collection-protocols.git
	branch = main
